html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #222;
    background: white;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.table__caption {
    caption-side: top;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dark {
    background-color: #beafaf;
    color: #eee;
}

.article {
    max-width: 800px;
    box-shadow: 2px 2px 8px #ccc;
    padding: 20px;
    margin: 20px auto;
}

.navigation__list {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    padding: 10px 100px;
}

.article__header {
    color: #225d5d;
}

.navigation__link:link {
    text-decoration: none;
    color: #8b0000;
}

.navigation__link:visited {
    color: #8b0000;
}

.navigation__link:hover {
    color: #8b0000a8;
}

.footer {
    margin: 30px;
    color: #000000db;
    font-size: 15px;
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #0095ff;
}